html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --container-main: 1920px;
  --container-medium: 1200px;
  --container-small: 1000px;
  --container-padding-x: 15px;

  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;
  --color-dark-alternate: #131619;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.75;
  font-style: normal;
  color: var(--color-light);
  background-color: var(--color-dark);
}

.section__container {
  max-width: calc(var(--container-main) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.slider__container {
  max-width: calc(var(--container-medium) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  background-color: var(--color-dark-gray);
}

.page__slider {
  padding-block: 10px;
}

.section {
  margin-bottom: 40px;
  background-color: var(--color-dark-alternate);
}

.section__slider {
  margin-bottom: 40px;
}

.section__header-title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.section__header-text:not(:last-child) {
  margin-bottom: 10px;
}

.slider-base {
  max-width: 1000px;
}

.card {
  block-size: 300px;
  padding-block: 30px;
  padding-inline: 30px;

  font-size: 16px;
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-dark);
}

.slider__example-inner {
  padding-block: 20px;
}

.slider__example-img1 {
  width: 100%;
  max-width: 1920px;
  height: auto;
  border-radius: 25px;
}

.slider__example-img2 {
  width: 100%;
  max-width: 860px;
  height: auto;
  border-radius: 35px;
}

/* ************************************ */
/* ***** Змінити колір пагінації на базовому прикладі 1*/

.slider__example-1 .swiper-pagination-bullet {
  background-color: #00ffff;
}

.slider__example-2 {
  --swiper-theme-color: #ff0000;
  /* Navigation CSS Custom Properties */
  --swiper-navigation-size: 80px;
  --swiper-navigation-top-offset: 80%;
  --swiper-navigation-sides-offset: 60px;
  --swiper-navigation-color: var(--swiper-theme-color);

  /* Pagination CSS Custom Properties */
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: 10px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

/* ************************************ */
/* ***** Змінити кнопки навігації на прикладі 3*/
.slider__example-3 {
  --swiper-theme-color: #48ff00;
}

.swiper-button-prev3::after,
.swiper-button-next3::after {
  display: none;
}

/* через бекграунд

.swiper-button-prev3 {
  background-image: url('../image/icons/prev.svg');
}

.swiper-button-next3 {
  background-image: url('../image/icons/next.svg');
}

.swiper-button-prev3,
.swiper-button-next3 {
  margin-top: 0;
  width: 90px;
  height: 90px;
  transform: translateY(-50%);
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33px 30px;
}  */

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 32px;
  height: 32px;
}

.swiper-button {
  margin-top: 0;
  width: 90px;
  height: 90px;
  transform: translateY(-50%);
  background-color: var(--color-light);
  border: 1px solid var(--swiper-theme-color);
  border-radius: 100%;
}

.swiper-button:hover {
  background-color: var(--color-dark-gray);
}
